<%- include('../partials/_header.ejs') %>
    <%- include('../partials/_navbar.ejs') %>
        <div class="section pt-4 pb-0">
            <nav class="breadcrumb has-arrow-separator">
                <ul class="container">
                    <li><a class="has-text-grey" href="/">Home</a></li>
                    <li class="is-active"><a class="has-text-grey has-text-weight-bold" href="/coaches">All Coaches</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="section py-5">
            <h1 class="has-text-centered has-text-weight-bold is-size-1-desktop is-size-2-tablet is-size-4-mobile">All
                Time MDL Coaches</h1>
        </div>
        <div class="section pt-0 has-text-centered">
            <div class="container">
            <div class="table-container" style="margin: auto;">
                <table class="table is-fullwidth is-bordered is-striped is-narrow is-hoverable is-scrollable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Seasons</th>
                            <th>Total Games</th>
                            <th>Reg Wins</th>
                            <th>Reg Win %</th>
                            <th>Berths</th>
                            <th>Byes</th>
                            <th>PO Games</th>
                            <th>PO Wins</th>
                            <th>PO Win %</th>
                            <th>SB App</th>
                            <th>SB Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% coaches.forEach(coach=> { %>
                        <tr>
                                <td><a href="/coaches/<%= coach._id %>">
                                        <% if (coach.isActive) { %>
                                            <%= coach.name %>✦
                                        <% } else { %>
                                            <%= coach.name %>    
                                        <% } %>
                                    </a></td>
                                <td>
                                    <%= coach.seasons %>
                                </td>
                                <td>
                                    <%= coach.totalRegularSeasonGames %>
                                </td>
                                <td>
                                    <%= coach.regularSeasonWins %>
                                </td>
                                <td>
                                    <%= ((coach.regularSeasonWins/coach.totalRegularSeasonGames)*100).toFixed(2) + '%'
                                        %>
                                </td>
                                <td>
                                    <%= coach.playoffBerths %>
                                </td>
                                <td>
                                    <%= coach.playoffByes %>
                                </td>
                                <td>
                                    <%= coach.playoffGames %>
                                </td>
                                <td>
                                    <%= coach.playoffWins %>
                                </td>
                                <td>
                                    <%= ((coach.playoffWins/coach.playoffGames)*100).toFixed(2) + '%' %>
                                </td>
                                <td>
                                    <%= coach.superBowlAppearances %>
                                </td>
                                <td>
                                    <%= coach.superBowlWins %>
                                </td>
                        </tr>
                        <% }); %>
                    </tbody>
                    ✦ = Active Player
                </table>
            </div>
        </div>
    </div>

        <div class="section has-text-centered">
            <% if (user && user.isAdmin) { %>
                <a href="/coaches/new">
                <button class="button is-dark" id="add-coach">
                    Add a Coach
                </button>
            </a>
                <% } %>
        </div>

        <!-- NEW COACH MODAL -->
       
        <%- include ('../partials/_footer.ejs') %>