<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<h1>All Time MDL Coaches</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Seasons</th>
        <th>Total Games</th>
        <th>Reg Wins</th>
        <th>Reg Win %</th>
        <th>Berths</th>
        <th>Byes</th>
        <th>PO Games</th>
        <th>PO Wins</th>
        <th>PO Win %</th>
        <th>SB App</th>
        <th>SB Wins</th>
    </tr>
    <tr>
        <% coaches.forEach(coach => { %>
            <td><a href="/coaches/<%= coach._id %>"><%= coach.name %></a></td>
            <td><%= coach.seasons %></td>
            <td><%= coach.totalRegularSeasonGames %></td>
            <td><%= coach.regularSeasonWins %></td>
            <td><%= ((coach.regularSeasonWins/coach.totalRegularSeasonGames)*100).toFixed(2) + '%' %></td>
            <td><%= coach.playoffBerths %></td>
            <td><%= coach.playoffByes %></td>
            <td><%= coach.playoffGames %></td>
            <td><%= coach.playoffWins %></td>
            <td><%= ((coach.playoffWins/coach.playoffGames)*100).toFixed(2) + '%' %></td>
            <td><%= coach.superBowlAppearances %></td>
            <td><%= coach.superBowlWins %></td>
       <% }); %>
    </tr>
</table>
<button>
    <a href="/coaches/new">Add a Coach</a>
</button>
<%- include ('../partials/_footer.ejs') %>