<%- include('../partials/_header.ejs') %>
    <%- include('../partials/_navbar.ejs') %>
        <div class="section pt-4 pb-0">
            <nav class="breadcrumb has-arrow-separator">
                <ul class="container">
                    <li><a class="has-text-grey" href="/">Home</a></li>
                    <li><a class="has-text-grey" href="/coaches">All Coaches</a></li>
                    <li class="is-active"><a class="has-text-grey has-text-weight-bold">
                            <%=coach.name%>
                        </a></li>
                </ul>
            </nav>
        </div>
        <div class="section">
            <div class="container">
                <div class="tabs is-boxed is-small-mobile">
                    <ul>
                        <li class="is-active" data-target="player-card">
                            <a>Player Card</a>
                        </li>
                        <li data-target="regular-season">
                            <a>Regular Season</a>
                        </li>
                        <li data-target="post-season">
                            <a>Post Season</a>
                        </li>
                        <li data-target="history">
                            <a>History</a>
                        </li>
                    </ul>
                </div>
                <div class="px-2" id="tab-content">
                    <div id="player-card">
                        <div class="columns">
                            <div class="column"></div>
                            <div class="column"></div>
                        </div>
                    </div>
                    <div id="regular-season" class="is-hidden">
                        <p>
                            2
                        </p>
                    </div>
                    <div id="post-season" class="is-hidden">
                        <p>
                            3
                        </p>
                    </div>
                    <div id="history" class="is-hidden">
                        <p>
                            4
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- <% if (user) { %>
        <div id="buttons">
            <a href="/coaches/<%= coach._id %>/edit">
                <button>
                    Edit <%= coach.name %>
                </button>
            </a>
            <form action="/coaches/<%=coach._id%>?_method=DELETE" method="POST">
                <button type="submit">
                    Delete <%= coach.name %>
                </button>
            </form>
            <% } else { %>
                Sign in to edit coach!
            <% } %>
        </div> -->
        <%- include ('../partials/_footer.ejs') %>