<%- include('../partials/_header.ejs') %>
    <%- include('../partials/_navbar.ejs') %>
        <div class="section pt-4 pb-0">
            <nav class="breadcrumb has-arrow-separator">
                <ul class="container">
                    <li><a class="has-text-grey" href="/">Home</a></li>
                    <li><a class="has-text-grey" href="/coaches">All Coaches</a></li>
                    <li class="is-active"><a class="has-text-grey has-text-weight-bold">
                            <%=coach.name%>
                        </a></li>
                </ul>
            </nav>
        </div>
        <div class="section">
            <div class="container">
                <div>
                    <div class="card has-background-dark">
                        <div class="card-content p-2">
                            <div class="media">
                                <div class="media-left" style="width: 20%;">
                                    <figure class="image is-square">
                                        <img class=""
                                            src="../assets/blank-profile-picture-973460_1280.webp"
                                            alt="">
                                    </figure>
                                </div>
                                <div class="media-content" style="width: 40%;">
                                    <p class="title is-size-5-mobile is-size-2-desktop has-text-white">
                                        <% if (coach.isActive) { %>
                                            <%= coach.name %>✦
                                        <% } else { %>
                                            <%= coach.name %>    
                                        <% } %>
                                    </p>
                                    <p class="subtitle is-size-6-mobile is-size-3-desktop mb-1 has-text-white">Seasons Played: <%=coach.seasons%>
                                    </p>
                                    <p class="subtitle is-size-7-mobile is-size-4-desktop has-text-white">🏆 x <%=coach.superBowlWins%> 🥈 x <%= (coach.superBowlAppearances-coach.superBowlWins) %>
                                    </p>
                                </div>
                                <div>
                                    <% if (user && user.isAdmin) { %>
                                            <button class="is-size-6-mobile has-text-white p-2 has-text-weight-bold" id="edit-coach">
                                                Edit
                                            </button>
                                        <form action="/coaches/<%=coach._id%>?_method=DELETE" method="POST">
                                            <button class="is-size-6-mobile has-text-white p-2 has-text-weight-bold" type="submit">
                                                Delete
                                            </button>
                                        </form>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs is-boxed is-small-mobile">
                        <ul>
                            <li class="is-active has-text-white" data-target="player-card">
                                <a>Player Card</a>
                            </li>
                            <li data-target="regular-season">
                                <a>Regular Season</a>
                            </li>
                            <li data-target="post-season">
                                <a>Post Season</a>
                            </li>
                            <li data-target="history">
                                <a>History</a>
                            </li>
                        </ul>
                    </div>
                    <div class="px-2" id="tab-content">
                        <!-- player card tab -->
                        <div class="fixed-grid" id="player-card">
                            <div class="grid">
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Regular Season Record:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.regularSeasonWins%> - <%=coach.totalRegularSeasonGames -
                                                        coach.regularSeasonWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Post Season Record:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffWins%> - <%=coach.playoffGames - coach.playoffWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 mb-3 has-text-white">Playoff Berths:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffBerths%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Super Bowl Appearances:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.superBowlAppearances%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--regular season tab-->
                        <div id="regular-season" class="fixed-grid is-hidden">
                            <div class="grid">
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Total Games:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.totalRegularSeasonGames%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Win Percentage:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=((coach.regularSeasonWins
                                                    /coach.totalRegularSeasonGames)*100).toFixed(2) + '%' %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 mb-3 has-text-white">Wins:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.regularSeasonWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Losses:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.totalRegularSeasonGames - coach.regularSeasonWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--post season tab-->
                        <div id="post-season" class="is-hidden fixed-grid">
                            <div class="grid">
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Playoff Berths:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffBerths%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Byes Awarded:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffByes%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Total Playoff Games:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffGames%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Playoff Win Percentage:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <% if (coach.playoffGames === 0) { %>
                                                    <%= `-` %>
                                                    <% } else { %>
                                                        <%=((coach.playoffWins/coach.playoffGames)*100).toFixed(2) + '%' %>
                                                <% } %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Playoff Wins:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Playoff Losses:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.playoffGames - coach.playoffWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 mb-3 has-text-white">Super Bowl Appearances:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.superBowlAppearances%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="card p-1 has-background-dark" style="height: 100%;">
                                        <div class="content">
                                            <h6 class="has-text-centered pt-5 has-text-white">Super Bowl Wins:</h6>
                                            <h2 class="has-text-centered m-0 pb-5 has-text-white">
                                                <%=coach.superBowlWins%>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--History Tab-->
                        <div id="history" class="is-hidden">
                            <p>
                                Coming Soon!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EDIT Coach Modal -->
            <div class="modal">
                <div class="modal-background"></div>
                <div data-theme="light" class="modal-content has-background-dark py-5 px-5">
                    <h1 class="title has-text-centered has-text-white">Edit <%= coach.name %></h1>
                    <form action="/coaches/<%=coach._id%>?_method=PUT" method="POST">
                        <div class="columns is-multiline">
                            <div class="column auto">
                                <div class="field">
                                    <label for="name" class="label">Coach Name:</label>
                                    <div class="control">
                                        <input type="text" class="input" name="name" value="<%= coach.name %>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <div class="field">
                                    <label for="seasons" class="label">Seasons:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="seasons" value="<%= coach.seasons %>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-half">
                                <div class="field">
                                    <label for="totalRegularSeasonGames" class="label">Regular Season Games:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="totalRegularSeasonGames" value="<%= coach.totalRegularSeasonGames %>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label for="regularSeasonWins" class="label">Regular Season Wins:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="regularSeasonWins" value="<%= coach.regularSeasonWins %>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-half">
                                <div class="field">
                                    <label for="playoffBerths" class="label">Total Playoff Berths:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="playoffBerths" value="<%= coach.playoffBerths %>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label for="playoffByes" class="label">Total Playoff Byes:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="playoffByes" value="<%= coach.playoffByes %>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-half">
                                <div class="field">
                                    <label for="playoffGames" class="label">Total Playoff Games:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="playoffGames" value="<%= coach.playoffGames %>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label for="playoffWins" class="label">Total Playoff Wins:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="playoffWins" value="<%= coach.playoffWins %>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-half">
                                <div class="field">
                                    <label for="superBowlAppearances" class="label">Super Bowl Appearances:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="superBowlAppearances" value="<%= coach.superBowlAppearances %>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label for="superBowlWins" class="label">Super Bowl Wins:</label>
                                    <div class="control">
                                        <input type="number" class="input" name="superBowlWins" value="<%= coach.superBowlWins %>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label for="isActive" class="checkbox">
                                    <input type="checkbox" name="isActive" <% if (coach.isActive) { %>checked<% } %>/>
                                    Active Coach
                                </label>
                            </div>
                        </div>
                        <div class="has-text-centered">
                        <button class="button is-dark" type="submit">
                            Update <%= coach.name %>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <%- include ('../partials/_footer.ejs') %>